.contact{
	width: 95%;
	height:791px;
	margin:0 auto;
	padding: 50px;
	box-sizing: border-box;
	background: rgba(209, 233, 233, 0.54);
	margin-bottom: 50px;
}
.contact .title{
	font-size:36px;
}